[submodule "benchmark"]
	path = benchmark
	url = https://github.com/qbit-/android_tflite_benchmarks.git
[submodule "src/musco-tf"]
	path = src/musco-tf
	url = https://github.com/musco-ai/musco-tf.git
[submodule "src/Rnnt_Tflite"]
	path = src/Rnnt_Tflite
	url = https://github.com/RunFMe/Rnnt_Tflite.git
[submodule "src/DeepSpeech"]
	path = src/DeepSpeech
	url = https://github.com/qbit-/DeepSpeech.git
[submodule "src/Automatic-Speech-Recognition"]
	path = src/Automatic-Speech-Recognition
	url = https://github.com/qbit-/Automatic-Speech-Recognition.git
