[submodule "benchmark"]
	path = benchmark
	url = https://github.com/qbit-/android_tflite_benchmarks.git
[submodule "tt_keras"]
	path = tt_keras
	url = https://github.com/qbit-/tt_keras.git
[submodule "DeepSpeech"]
	path = DeepSpeech
	url = https://github.com/mozilla/DeepSpeech.git
[submodule "Automatic-Speech-Recognition"]
	path = Automatic-Speech-Recognition
	url = https://github.com/qbit-/Automatic-Speech-Recognition.git
[submodule "musco-tf"]
	path = musco-tf
	url = https://github.com/musco-ai/musco-tf.git
[submodule "t3f"]
	path = t3f
	url = https://github.com/qbit-/t3f.git
[submodule "asr-compression-pytorch"]
	path = asr-compression-pytorch
	url = https://github.com/qbit-/asr-compression-pytorch.git
[submodule "musco-pytorch"]
	path = musco-pytorch
	url = https://github.com/ABaaaC/musco-pytorch.git
[submodule "flopco-pytorch"]
	path = flopco-pytorch
	url = https://github.com/ABaaaC/flopco-pytorch
