[submodule "benchmark"]
	path = benchmark
	url = git@github.com:qbit-/android_tflite_benchmarks.git
[submodule "tt_keras"]
	path = tt_keras
	url = git@github.com:qbit-/tt_keras.git
[submodule "DeepSpeech"]
	path = DeepSpeech
	url = git@github.com:mozilla/DeepSpeech.git
[submodule "Automatic-Speech-Recognition"]
	path = Automatic-Speech-Recognition
	url = git@github.com:qbit-/Automatic-Speech-Recognition.git
[submodule "musco-tf"]
	path = musco-tf
	url = git@github.com:musco-ai/musco-tf.git
[submodule "t3f"]
	path = t3f
	url = git@github.com:qbit-/t3f.git
[submodule "asr-compression-pytorch"]
	path = asr-compression-pytorch
	url = git@github.com:qbit-/asr-compression-pytorch.git
[submodule "musco-pytorch-private"]
	path = musco-pytorch-private
	url = git@github.com:ABaaaC/musco-pytorch-private.git
[submodule "musco-pytorch"]
	path = musco-pytorch
	url = git@github.com:ABaaaC/musco-pytorch.git
[submodule "flopco-pytorch"]
	path = flopco-pytorch
	url = git@github.com:ABaaaC/flopco-pytorch.git
[submodule "ReducedOrderNet"]
	path = ReducedOrderNet
	url = git@github.com:qbit-/ReducedOrderNet.git
[submodule "maxvol_compression_pytorch"]
	path = maxvol_compression_pytorch
	url = git@github.com:qbit-/maxvol_compression_pytorch.git
